.show-more-icon {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 24pt;
  top: -56px;
  margin-top: 17px;
  margin-bottom: -70px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  cursor: pointer;
  outline: none;
  user-select: none;
}

.table-container {
	margin-bottom: 10px;
}

.item {
		cursor: pointer;
		outline: none;
		user-select: none;
}
.muted {
	color: #6c6c6c;
	padding: 16px;
}
.list {
	overflow: hidden;
	padding: 12px 0;
	margin: -16px;
	margin-bottom: -12px;
	padding-bottom: 0px;
}

.final-loading {
	margin-bottom: -16px;
}
