<div class="wrapper">
<mat-card>
	<mat-card-title>
		Acknowledgements
	</mat-card-title>
	<mat-card-content>
		This application was developed by <a href="https://mattbrown.guru">Matthew Brown</a> under the supervision of Prof.
		Alberto Paccanaro, <a href="http://paccanarolab.org">Centre for Systems and Synthetic Biology</a>, Royal Holloway
		University of London. It is based on past work by <a href="http://www.paccanarolab.org/juan-j-caceres">Juan J.
			Cáceres</a> and <a href="http://www.cs.rhul.ac.uk/~pwac092/">Horacio Caniza</a>. Their support throughout the
		development of this application is greatly appreciated.
	</mat-card-content>
</mat-card>
</div>
