:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}


.home-screen-element {
	margin-bottom: 10px;
}

.intro {
	margin-bottom: 10px;
}

.wrapper {
	padding: 10px 0 !important;
	margin: 0 1em !important;
}
