<span class="exist-container">
	<div class="cards" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
		<div *ngFor="let shelfValue of phenotypes; let i = index" class="value-card" cdkDrag [class.target]="i === 0">
			<div class="placeholder" *cdkDragPlaceholder></div>
			<mat-card class="value-card-inner" *ngIf="shelfValue.omim" [style.border]="'2px solid '+ shelfValue.colour+'BF' ">
				<mat-card-header class="value-card-header">
					<mat-card-title class="name">
						<mat-icon class="target-star" matTooltip="Target Shelf Item" *ngIf="i === 0">star</mat-icon>
						<span [routerLink]="['phenotype', shelfValue.omim]" class="name-text">{{shelfValue.name}}</span>
					</mat-card-title>
					<mat-card-subtitle [routerLink]="['phenotype', shelfValue.omim]">
						#{{shelfValue.omim}}
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-actions>
					<div class="card-actions">
						<app-shelf-item-settings [id]="shelfValue.uid" class="settings-button"></app-shelf-item-settings>
						<button mat-button color="primary" class="delete-button" (click)="delete(shelfValue)" mat-icon-button>
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</mat-card-actions>
			</mat-card>
			<mat-card class="value-card-inner" *ngIf="shelfValue.genes" [style.border]="'2px solid '+ shelfValue.colour+'BF' ">
				<mat-card-header class="value-card-header">
					<mat-card-title class="name">
						<mat-icon class="target-star" matTooltip="Target Shelf Item" *ngIf="i === 0">star</mat-icon>
						<span class="name-text" (click)="openEditGeneGroupOverlay(shelfValue.uid)">{{shelfValue.name}}</span>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content class="gene-values">
					<span *ngIf="shelfValue.genes && shelfValue.genes.length > 0; else novalues">{{getGeneString(shelfValue)}}</span>
					<ng-template #novalues>No values added</ng-template>
				</mat-card-content>
				<mat-card-actions class="cg-card-actions">
					<div class="card-actions">
						<button mat-button color="primary" class="edit-button" (click)="openEditGeneGroupOverlay(shelfValue.uid)"
						 mat-icon-button>
							<mat-icon>edit</mat-icon>
						</button>
						<app-shelf-item-settings [id]="shelfValue.uid" class="settings-button"></app-shelf-item-settings>
						<button mat-button color="primary" class="delete-button" (click)="delete(shelfValue)" mat-icon-button>
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</mat-card-actions>
			</mat-card>
		</div>

		<div class="value-card">
			<mat-card class="value-card-inner custom-card-inner">
				<div matRipple (click)="addGeneGroup()">
					Add Custom Gene Group
				</div>
			</mat-card>
		</div>
		<span *ngIf="phenotypes.length === 0" class="no-items-in-shelf">
		</span>
	</div>

	<div class="button-bar">
		<button mat-stroked-button [disabled]="!(phenotypes.length > 0)" class="compare-button" color="primary" (click)="openCardigan()">View
			Intersection</button>
		<button mat-stroked-button [disabled]="!(phenotypes.length > 0)" class="compare-button" color="primary" (click)="openNetwork()">View
			Network</button>
	</div>
</span>
